.counter {
  font-family: "Arial";
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  margin-top: 200px;
}
.expl {
  font-family: "Arial";
  font-size: 15px;
  font-style: italic;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
}
